.Comp3brand{
    /* border: 2px solid blue; */
    height: 25vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.Comp3brand p{
    /* border: 2px solid red;   */
    height: 20%;
    width: 80%; 
}
.Comp3brand img{
    /* border: 2px solid red;   */
    height: 25%;
    width: 80%; 
}