.Header{
    /* border: 1px solid blue; */
    height: 15vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    /* border: 2px solid white; */
    height: 90%;
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo img{
    /* border: 1px solid red; */
    height: 90%;
    width: 25%;
}
.rightContainer{
    /* border: 2px solid white; */
    height: 90%;
    width: 30%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 80px;
}
.rightContainer p{
    /* border: 1px solid white; */
    height: 50%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}