.App{
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
  background-image: url(./Images/bg.webp);
  display: flex;
  flex-direction: column;
}
.EmptyDiv{
  height: 70vh;
  width: 100%;
  background-color: transparent;
}